.actuaciones-container .card-header {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: bold;
}

.actuaciones-container .list-group-item {
  border-color: var(--gray-color);
}

.btn-rojo {
  background-color: #fac263;
  color: white;
  border: none;
}
.btn-rojo:hover {
  background-color:#fac263;
  color: white;
  border: 1px solid #78141e;
}

.btn-outline-rojo {
  background: transparent;
  color: #78141e;
  border: 1px solid #78141e;
}
.btn-outline-rojo:hover {
  color: var(--primary-color);
}

.btn-borrar-rojo {
  background: #78141e;
  border: 1px solid #78141e;
  color: white;
}
.btn-borrar-rojo:hover {
  background: #fac263;
}

.badge-escenario {
  background-color: var(--primary-color);
  color: white;
}

.badge-horario {
  background-color: var(--gray-color);
  color: white;
}

.actuaciones-container .editor {
  background-color: var(--background-color);
  border: 1px solid var(--gray-color);
}

.btn-nuevo {
  border-radius: 10%;
  background: #78141e;
  border: none;
  color: white;
}
.btn-nuevo:hover {
  border-radius: 10%;
  background: #fac263;
  border: none;
}