

.logo {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 150px;
}

.alert {
    color: var(--primary-color);
    background: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-weight: 500;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--gray-color);
    color: var(--gray-color);
    border-radius: 0;
    box-shadow: none;
    outline: none;
   
}

.form-control:focus {
    background: transparent;
    color: var(--gray-color);
    border-bottom: 2px solid var(--gray-color);
    box-shadow: none;
    outline: none;
}

.password {
  position: relative;
}

.password-toggle-btn {
  position: absolute;
  right: 0.5rem;
  bottom: 0;              /* lo baja al borde inferior */
  height: 100%;           /* iguala la altura del input */
  display: flex;
  align-items: flex-end;  /* empuja el icono hacia abajo */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  color: var(--gray-color);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forget {
    color: var(--dark-blue-color);
}

.signup {
    color: var(--primary-color)
}

