/* 
var(--primary-color) rojo
var(--background-color) amarillo claro
var(--secondary-color) amarillo oscuro
#232428 negro
var(--gray-color) gris
#2d435b azul oscuro
*/

.navbar {
  background-color: var(--background-color) !important;
  padding: 10px 20px;
}

.logoNav {
  height: 35px;             
  width: auto;
  vertical-align: middle;
  margin-top: 20px;
}

.btn-perfilNav {
  background-color: #fac263;
  color: #78141e;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none; /* Quitar subrayado del link */
}

.btn-actuacionesNav, .btn-personalNav {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-weight: bold;
  border: var(--primary-color) 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}

.btn-logoutNav {
  background-color: #78141e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 15px;
}

.modo {
  color: var(--primary-color);
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
