/* 
#78141e rojo
#fffbe5 amarillo claro
#fac263 amarillo oscuro
#232428 negro
var(--gray-color) gris
#2d435b azul oscuro
*/

.personal-container {
  font-family: Arial, sans-serif;
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

.title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.alta-form {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.alta-form input {
  flex: 1;
  padding: 6px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

.alta-form button {
  padding: 6px 12px;
  background-color: #78141e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.alta-form button:hover {
  background-color: #78141e;
}

.buscador {
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

.grupo-header {
  background-color: #78141e;
  color: white;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 6px 6px 0 0;
  margin-top: 12px;
}

.empleado-section {
  border: 1px solid #78141e;
  border-top: none;
}

.empleado {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.2s;
  justify-content: space-between;
  display: flex;
}

.empleado:hover {
  background-color: #ffffff;
}

.empleado.asignado {
  background-color: #fac263;
  font-weight: bold;
}

.desplegable {
  padding: 10px;
  background-color: var(--background-color);
  border-top: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desplegable label {
  display: block;
  margin-bottom: 8px;
}

.desplegable input {
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  border: 1px solid #78141e;
  border-radius: 4px;
}

.desplegable button {
  align-self: flex-end;
  padding: 6px 12px;
  background-color: #78141e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.desplegable button:hover {
  background-color: #fac263;
  color:#78141e;
}

.info-personal{
  color: var(--text-color);
  margin-bottom: 5px;
}

.info-asignacion {
  font-size: 12px;
  color: #232428;
  margin-left: 5px;
}

.btn-borrar {
  background: transparent;
  border: none;
  color: #78141e;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.enlace-perfil {
  color: var(--primary-color); ;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid var(--gray-color); /* línea divisoria */
  padding-bottom: 3px;
}

.enlace-perfil:hover {
  text-decoration: underline;
}

.puesto-horario {
  color:var(--text-color);
  font-weight: bold;
  
}

.puesto-horario select {
    margin-left: 10px; 
}
