/* 
#78141e rojo
#fffbe5 amarillo claro
#fac263 amarillo oscuro
#232428 negro
#9d9ea1 gris
#2d435b azul oscuro
*/

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #9d9ea1;
    color: #9d9ea1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    background: transparent;
    color: #9d9ea1;
    border-bottom: 2px solid #9d9ea1;
    box-shadow: none;
    outline: none;
}

.form-select {
    background: #fffbe5;
    border: 1px solid #78141e;
    color: #78141e;
    border-radius: 0.375rem; 
    box-shadow: none;
    outline: none;
}

.form-select:focus {
    background: #fffbe5;
    border: 1px solid #78141e;
    color: #78141e;
    box-shadow: none;
    outline: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px; 
}

.password-signup-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #9d9ea1;
  font-size: 1.5rem;
}

.crear {
    background: #78141e;
    color: white;
    border: 1px solid #78141e;
    border-radius: 0.375rem; 
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

.crear:hover, .crear:focus {
    background: #fac263;
    color: #78141e;
    border: 1px solid #78141e;
    
    text-decoration: none;
}

.cuenta {
    color: #232428;
    font-size: 0.9rem;
}

.login2 {
    color: #78141e;
}