
$primary: #78141e;    // Rojo oscuro
$secondary: #fac263;  // Amarillo fuerte
/* $success: #27ae60;    // Verde éxito
$danger: #e74c3c;     // Rojo
$warning: #f39c12;    // Amarillo */
$info: #9d9ea1;       // Gris
$light: #fffbe5;      // Amarillo claro
$dark: #232428;       // Negro


@import "node_modules/bootstrap/scss/bootstrap";
